

{% block title %}AAAAAAAAAAAAAAAAAAAA!{% endblock %}

{% block body %}
<h1>Product index</h1>
<ul>
    {% for product in products %}
        <li>{{ product.id}}</li>
        <li>{{ product.name}}</li>
        <li>{{ product.description}}</li>
        <button>
    <a href="{{ path('quote_item_new', {'productName': product.name}) }}" class="button">Create Quote</a>
    </button>
    {% endfor %}
</ul>

{% endblock %}
